<app-page-title [title]="'Available Resources'"></app-page-title>
<app-inventory-action-bar (action)="emitAction({value: null, action: 'create-canvasopen'})"></app-inventory-action-bar>
<app-inventory-item *ngFor="let data of inventories" [inventory]="data">
    <div buttons>
        <button class="btn btn-primary" 
        data-bs-toggle="offcanvas" 
        data-bs-target="#offcanvasRight" 
        aria-controls="offcanvasRight"
        (click)="emitAction({value: data, action: 'update-canvasopen'})"
        > <i-bs name="pen-fill"></i-bs> Update</button>
        &nbsp;
        <button class="btn btn-warning" (click)="emitAction({value: data, action: 'delete'})">
            <i-bs name="trash"></i-bs> Delete</button>
    </div>
</app-inventory-item>
<app-inventory-canvas #invCanvas (action)="emitAction($event)"></app-inventory-canvas>
<app-loader *ngIf="loading"></app-loader>